body {
    font-family: monospace;
    
    margin: 0;
    
    overflow: hidden;
}

canvas {    
    width: 100%;
    height: 100%;
    
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}

.debug {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    
    color: #000;
    font-size: 5vh;
    display: none;
}

.loader {
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes loadfader {
	0% { color: #c0c0c0; }
	50% { color: green; }
	100% { color: #c0c0c0; }
}

.load-message {
	font-size: 5vh;
	color: green;
	animation: loadfader 4s infinite;
}

@keyframes loadfaderfail {
	0% { color: #c0c0c0; }
	50% { color: red; }
	100% { color: #c0c0c0; }
}

.load-message-fail {
	background: #000;
	text-align: center;
	font-size: 5vh;
	color: red;
	animation: loadfaderfail 4s infinite;
}

.credits-container {
    display: none;
    z-index: 2;
    
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
}

.credits {
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.7);
    color: fuchsia;
    padding: 1em;
}

.credits h3 {
    text-align: center;
}

.credits a {
    color: fuchsia;
}


.footer {
    z-index: 2;
    
    font-size: 5vh;
    color: gold;
    
    display: inline-block;
    
    margin: 0.2em;
    
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

.footer a {
    text-decoration: none;
    text-decoration-color: limegreen;
    color: #000;
    text-shadow: 0px 0px 0.2em gold;
}

.footer a:hover {
    color: fuchsia;
    text-shadow: 0px 0px 0.2em #fff;
}

/*#on-off {
    border: 0;
    line-height: 5vh;
}
#on-off img {
    border: 0;
    width: 5vh;
    height: 5vh;
}*/

/*
#pause {
    border: 0.5vh solid #00ff00;
    border-radius: 0.5vh;
    background: green;
    
}*/